<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Social Links"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div *ngIf="socialLinks">
  <div class="chat-wrapper d-lg-flex gap-3 gap-lg-4 p-xl-1 pt-md-5 p-lg-1">
    <div class="socialLink-content w-100 pb-0">
      <div class="col">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button
          class="btn btn-success w-100"
          (click)="createSocialLinkModal.show()"
        >
          <i class="ri-add-line align-bottom"></i> Add New Social Link
        </button>
      </div>

      <div
        class="socialLink-content position-relative px-4 mx-n4"
        id="socialLink-content"
      >
        <div class="socialLink-socialLink" id="socialLink-socialLink">
          <div class="table-responsive">
            <table class="table align-middle position-relative table-nowrap">
              <thead class="table-active">
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">URL</th>
                  <th scope="col">Icon</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="socialLink-list">
                <tr *ngFor="let data of socialLinks; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.id }}</td>
                  <td>{{ data.name || "No Name" }}</td>
                  <td>{{ data.url || "No URL" }}</td>
                  <td>
                    <img
                      src="{{ image + data.icon }}"
                      alt="{{ data.icon }}"
                      height="25px"
                    />
                  </td>
                  <td>{{ data.admin || "No Admin" }}</td>
                  <td>{{ data.created_at | date }}</td>
                  <td>
                    <div class="hstack gap-2">
                      <button
                        class="btn btn-sm btn-subtle-danger remove-list"
                        (click)="removeSocialLinkItemModal.show()"
                      >
                        <i class="ri-delete-bin-5-fill align-bottom"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-subtle-info edit-list"
                        (click)="
                          openEditSocialLinkModal(data); updateSocialLink.show()
                        "
                      >
                        <i class="ri-pencil-fill align-bottom"></i>
                      </button>
                    </div>
                  </td>

                  <div
                    bsModal
                    #removeSocialLinkItemModal="bs-modal"
                    id="removeSocialLinkItemModal"
                    class="modal fade zoomIn"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            (click)="removeSocialLinkItemModal.hide()"
                            id="close-removesocialLinkmodal"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mt-2 text-center">
                            <i class="ti ti-trash fs-1 text-danger"></i>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                              <h5>Are you sure?</h5>
                              <p class="text-muted mx-4 mb-0">
                                Are you sure you want to remove this Social
                                Link?
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex gap-2 justify-content-center mt-4 mb-2"
                          >
                            <button
                              type="button"
                              class="btn w-sm btn-light"
                              (click)="removeSocialLinkItemModal.hide()"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn w-sm btn-danger"
                              id="remove-socialLinkitem"
                              (click)="deleteSocialLink(data.id)"
                            >
                              Yes, Delete It!
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    bsModal
                    #updateSocialLink="bs-modal"
                    class="modal fade"
                    id="updateSocialLink"
                    tabindex="-1"
                    aria-labelledby="updateSocialLinkLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border-0">
                        <div class="modal-header p-3 bg-success-subtle">
                          <h5 class="modal-title" id="updateSocialLinkLabel">
                            Update Social Link Info
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            (click)="updateSocialLink.hide()"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-4">
                            <label for="name-input" class="form-label"
                              >Name</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="name-input"
                              autocomplete="off"
                              placeholder="Enter Social Link name"
                              [(ngModel)]="editSocialLinkData.name"
                            />
                          </div>
                          <div class="mb-4">
                            <label for="url-input" class="form-label"
                              >URL</label
                            >
                            <input
                              type="url"
                              class="form-control"
                              id="url-input"
                              autocomplete="off"
                              placeholder="Enter Social Link URL"
                              [(ngModel)]="editSocialLinkData.url"
                            />
                          </div>
                          <div class="mb-4">
                            <label for="icon-input" class="form-label"
                              >Icon</label
                            >
                            <input
                              type="file"
                              class="form-control"
                              id="icon-input"
                              accept="image/*"
                              (change)="onFileSelected($event)"
                            />
                          </div>
                          <div class="hstack gap-2 justify-content-end">
                            <button
                              type="button"
                              class="btn btn-ghost-success"
                              (click)="updateSocialLink.hide()"
                            >
                              <i class="ri-close-fill align-bottom"></i> Close
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              id="updateSocialLinkBtn"
                              (click)="
                                editSocialLink(data.id); updateSocialLink.hide()
                              "
                            >
                              Update Social Link
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-controls d-flex justify-content-between mt-3">
            <button
              class="btn btn-primary"
              [disabled]="currentPage === 1"
              (click)="previousPage()"
            >
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              class="btn btn-primary"
              [disabled]="currentPage === totalPages"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    bsModal
    #createSocialLinkModal="bs-modal"
    class="modal fade zoomIn"
    id="createSocialLinkModal"
    tabindex="-1"
    aria-labelledby="createSocialLinkModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-3 bg-success-subtle">
          <h5 class="modal-title" id="createSocialLinkModalLabel">
            Create Social Link
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="createSocialLinkModal.hide()"
            id="addSocialLinkBtn-close"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-4">
              <label for="name-input" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name-input"
                autocomplete="off"
                placeholder="Enter Social Link name"
                [(ngModel)]="newSocialLink.name"
              />
            </div>
            <div class="mb-4">
              <label for="url-input" class="form-label">URL</label>
              <input
                type="url"
                class="form-control"
                id="url-input"
                autocomplete="off"
                placeholder="Enter Social Link URL"
                [(ngModel)]="newSocialLink.url"
              />
            </div>
            <div class="mb-4">
              <label for="icon-input" class="form-label">Icon</label>
              <input
                type="file"
                class="form-control"
                id="icon-input"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-ghost-success"
                (click)="createSocialLinkModal.hide()"
              >
                <i class="ri-close-line align-bottom"></i> Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addSocialLink(); createSocialLinkModal.hide()"
              >
                Add Social Link
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
