<!-- Start Breadcrumbs -->
<app-breadcrumbs title="SocialLinks"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div *ngIf="socialLinks">
  <div class="chat-wrapper d-lg-flex gap-3 gap-lg-4 p-xl-1 pt-md-5 p-lg-1">
    <!--end side content-->
    <div class="city-content w-100 pb-0">
      <div class="col">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <button
          class="btn btn-success w-100"
          (click)="createCounryModal.show()"
        >
          <i class="ri-add-line align-bottom"></i> Add New SocialLink
        </button>
      </div>

      <div class="city-content position-relative px-4 mx-n4" id="city-content">
        <div class="city-city" id="city-city">
          <div class="table-responsive">
            <table class="table align-middle position-relative table-nowrap">
              <thead class="table-active">
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">ID</th>
                  <th scope="col">SocialLink</th>
                  <th scope="col">CreatedAt</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody id="city-list">
                <tr *ngFor="let data of socialLinks; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.id }}</td>
                  <td>{{ data.name || "No SocialLink" }}</td>
                  <td>{{ data.created_at | date }}</td>
                  <td>
                    <div class="hstack gap-2">
                      <button
                        class="btn btn-sm btn-subtle-danger remove-list"
                        (click)="removeSocialLinkItemModal.show()"
                      >
                        <i class="ri-delete-bin-5-fill align-bottom"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-subtle-info edit-list"
                        (click)="updateSocialLink.show()"
                      >
                        <i class="ri-pencil-fill align-bottom"></i>
                      </button>
                    </div>
                  </td>

                  <!-- removeFileItemModal -->
                  <div
                    bsModal
                    #removeSocialLinkItemModal="bs-modal"
                    id="removeSocialLinkItemModal"
                    class="modal fade zoomIn"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            (click)="removeSocialLinkItemModal.hide()"
                            id="close-removecitymodal"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mt-2 text-center">
                            <i class="ti ti-trash fs-1 text-danger"></i>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                              <h5>Are you sure ?</h5>
                              <p class="text-muted mx-4 mb-0">
                                Are you sure you want to remove this city ?
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex gap-2 justify-content-center mt-4 mb-2"
                          >
                            <button
                              type="button"
                              class="btn w-sm btn-light"
                              (click)="removeSocialLinkItemModal.hide()"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn w-sm btn-danger"
                              id="remove-cityitem"
                              (click)="deleteSocialLink(data.id)"
                            >
                              Yes, Delete It!
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

                  <!-- update Modal -->
                  <div
                    bsModal
                    #updateSocialLink="bs-modal"
                    class="modal fade"
                    id="updateSocialLink"
                    tabindex="-1"
                    aria-labelledby="updateSocialLinkLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border-0">
                        <div class="modal-header p-3 bg-success-subtle">
                          <h5 class="modal-title" id="updateSocialLinkLabel">
                            UpdateSocialLink Info
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            (click)="updateSocialLink.hide()"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="city-title-input" class="form-label"
                              >SocialLink</label
                            >
                            <input
                              type="text"
                              id="city-title-input"
                              class="form-control"
                              placeholder="{{ data.name }}"
                              [(ngModel)]="newSocialLink.name"
                            />
                          </div>

                          <div class="hstack gap-2 justify-content-end">
                            <button
                              type="button"
                              class="btn btn-ghost-success"
                              (click)="updateSocialLink.hide()"
                            >
                              <i class="ri-close-fill align-bottom"></i> Close
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              id="addNewSocialLink"
                              (click)="editSocialLink(data.id)"
                            >
                              Update SocialLink
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end update city-->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-controls d-flex justify-content-between mt-3">
            <button
              class="btn btn-primary"
              [disabled]="currentPage === 1"
              (click)="previousPage()"
            >
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              class="btn btn-primary"
              [disabled]="currentPage === totalPages"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Create Counry Modal -->
  <div
    bsModal
    #createCounryModal="bs-modal"
    class="modal fade zoomIn"
    id="createCounryModal"
    tabindex="-1"
    aria-labelledby="createCounryModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-3 bg-success-subtle">
          <h5 class="modal-title" id="createCounryModalLabel">Create Counry</h5>
          <button
            type="button"
            class="btn-close"
            (click)="createCounryModal.hide()"
            id="addCounryBtn-close"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-4">
              <label for="Counryname-input" class="form-label">SocialLink</label>

              <input
                type="text"
                class="form-control"
                id="SocialLinkname-input"
                autocomplete="off"
                placeholder="Enter SocialLink name"
                [(ngModel)]="newSocialLink.name"
              />
            </div>

            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-ghost-success"
                (click)="createCounryModal.hide()"
              >
                <i class="ri-close-line align-bottom"></i> Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addSocialLink()"
                (click)="createCounryModal.hide()"
              >
                Add SocialLink
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal-dialog -->
  </div>
  <!-- End Create Counry Modal -->

  <!-- /.modal -->
</div>
