<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Sidebar Banners"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div *ngIf="sideBarBanners">
  <div class="chat-wrapper d-lg-flex gap-3 gap-lg-4 p-xl-1 pt-md-5 p-lg-1">
    <div class="sideBarBanner-content w-100 pb-0">
      <div class="col">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button
          class="btn btn-success w-100"
          (click)="createSideBarBannerModal.show()"
        >
          <i class="ri-add-line align-bottom"></i> Add New Sidebar Banner
        </button>
      </div>

      <div
        class="sideBarBanner-content position-relative px-4 mx-n4"
        id="sideBarBanner-content"
      >
        <div
          class="sideBarBanner-sideBarBanner"
          id="sideBarBanner-sideBarBanner"
        >
          <div class="table-responsive">
            <table class="table align-middle position-relative table-nowrap">
              <thead class="table-active">
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">ID</th>
                  <th scope="col">Image</th>
                  <th scope="col">Link</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="sideBarBanner-list">
                <tr *ngFor="let data of sideBarBanners; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.id }}</td>
                  <td>
                    <img
                      src="{{ image + data.image }}"
                      alt="{{ data.image }}"
                      height="25px"
                    />
                  </td>
                  <td>{{ data.link || "No Link" }}</td>
                  <td>
                    <div class="form-check form-switch custom-switch me-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="customSwitch_{{ data.id }}"
                        [checked]="data.status === 'active'"
                        (change)="toggleStatus(data)"
                      />
                    </div>
                  </td>
                  <td>{{ data.admin || "No Admin" }}</td>
                  <td>{{ data.created_at | date }}</td>
                  <td>
                    <div class="hstack gap-2">
                      <button
                        class="btn btn-sm btn-subtle-danger remove-list"
                        (click)="removeSideBarBannerItemModal.show()"
                      >
                        <i class="ri-delete-bin-5-fill align-bottom"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-subtle-info edit-list"
                        (click)="
                          openEditSideBarBannerModal(data);
                          updateSideBarBanner.show()
                        "
                      >
                        <i class="ri-pencil-fill align-bottom"></i>
                      </button>
                    </div>
                  </td>

                  <div
                    bsModal
                    #removeSideBarBannerItemModal="bs-modal"
                    id="removeSideBarBannerItemModal"
                    class="modal fade zoomIn"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            (click)="removeSideBarBannerItemModal.hide()"
                            id="close-removesideBarBannermodal"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mt-2 text-center">
                            <i class="ti ti-trash fs-1 text-danger"></i>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                              <h5>Are you sure?</h5>
                              <p class="text-muted mx-4 mb-0">
                                Are you sure you want to remove this Sidebar
                                Banner?
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex gap-2 justify-content-center mt-4 mb-2"
                          >
                            <button
                              type="button"
                              class="btn w-sm btn-light"
                              (click)="removeSideBarBannerItemModal.hide()"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn w-sm btn-danger"
                              id="remove-sideBarBanneritem"
                              (click)="deleteSideBarBanner(data.id)"
                            >
                              Yes, Delete It!
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    bsModal
                    #updateSideBarBanner="bs-modal"
                    class="modal fade"
                    id="updateSideBarBanner"
                    tabindex="-1"
                    aria-labelledby="updateSideBarBannerLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border-0">
                        <div class="modal-header p-3 bg-success-subtle">
                          <h5 class="modal-title" id="updateSideBarBannerLabel">
                            Update Sidebar Banner Info
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            (click)="updateSideBarBanner.hide()"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-4">
                            <label for="image-input" class="form-label"
                              >Image</label
                            >
                            <input
                              type="file"
                              class="form-control"
                              id="image-input"
                              accept="image/*"
                              (change)="onFileSelected($event)"
                            />
                          </div>
                          <div class="mb-4">
                            <label for="link-input" class="form-label"
                              >Link</label
                            >
                            <input
                              type="url"
                              class="form-control"
                              id="link-input"
                              autocomplete="off"
                              placeholder="Enter Sidebar Banner link"
                              [(ngModel)]="editSideBarBannerData.link"
                            />
                          </div>
                          <div class="hstack gap-2 justify-content-end">
                            <button
                              type="button"
                              class="btn btn-ghost-success"
                              (click)="updateSideBarBanner.hide()"
                            >
                              <i class="ri-close-fill align-bottom"></i> Close
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              id="updateSideBarBannerBtn"
                              (click)="
                                editSideBarBanner(data.id);
                                updateSideBarBanner.hide()
                              "
                            >
                              Update Sidebar Banner
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-controls d-flex justify-content-between mt-3">
            <button
              class="btn btn-primary"
              [disabled]="currentPage === 1"
              (click)="previousPage()"
            >
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              class="btn btn-primary"
              [disabled]="currentPage === totalPages"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    bsModal
    #createSideBarBannerModal="bs-modal"
    class="modal fade zoomIn"
    id="createSideBarBannerModal"
    tabindex="-1"
    aria-labelledby="createSideBarBannerModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-3 bg-success-subtle">
          <h5 class="modal-title" id="createSideBarBannerModalLabel">
            Create Sidebar Banner
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="createSideBarBannerModal.hide()"
            id="addSideBarBannerBtn-close"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="mb-4">
              <label for="image-input" class="form-label">Image</label>
              <input
                type="file"
                class="form-control"
                id="image-input"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="mb-4">
              <label for="link-input" class="form-label">Link</label>
              <input
                type="url"
                class="form-control"
                id="link-input"
                autocomplete="off"
                placeholder="Enter Sidebar Banner link"
                [(ngModel)]="newSideBarBanner.link"
              />
            </div>
            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-ghost-success"
                (click)="createSideBarBannerModal.hide()"
              >
                <i class="ri-close-line align-bottom"></i> Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addSideBarBanner(); createSideBarBannerModal.hide()"
              >
                Add Sidebar Banner
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
