<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Courses"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div *ngIf="courses">
  <div class="chat-wrapper d-lg-flex gap-3 gap-lg-4 p-xl-1 pt-md-5 p-lg-1">
    <div class="course-content w-100 pb-0">
      <div class="col">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button
          class="btn btn-success w-100"
          (click)="createCourseModal.show()"
        >
          <i class="ri-add-line align-bottom"></i> Add New Course
        </button>
      </div>

      <div
        class="course-content position-relative px-4 mx-n4"
        id="course-content"
      >
        <div class="course-course" id="course-course">
          <div class="table-responsive">
            <table class="table align-middle position-relative table-nowrap">
              <thead class="table-active">
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">ID</th>
                  <th scope="col">Category</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Instructor</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Video URL</th>
                  <th scope="col">Image</th>
                  <th scope="col">Price</th>
                  <th scope="col">Certifications</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="course-list">
                <tr *ngFor="let data of courses; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.id }}</td>
                  <td>{{ data.category || "No Category" }}</td>
                  <td>{{ data.tag || "No Tag" }}</td>
                  <td>{{ data.instructor || "No Instructor" }}</td>
                  <td>{{ data.title || "No Title" }}</td>
                  <td>{{ data.description || "No Description" }}</td>
                  <td>{{ data.video_url || "No Video URL" }}</td>
                  <td>
                    <img
                      src="{{ image + data.image }}"
                      alt="{{ data.image }}"
                      height="25px"
                    />
                  </td>
                  <td>{{ data.price || "No Price" }}</td>
                  <td>
                    <div class="form-check form-switch custom-switch me-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="customSwitch_{{ data.id }}"
                        [checked]="data.certifications === true"
                        (change)="toggleStatus(data)"
                      />
                    </div>
                  </td>
                  <td>{{ data.admin || "No Admin" }}</td>
                  <td>{{ data.created_at | date }}</td>
                  <td>
                    <div class="hstack gap-2">
                      <button
                        class="btn btn-sm btn-subtle-danger remove-list"
                        (click)="removeCourseItemModal.show()"
                      >
                        <i class="ri-delete-bin-5-fill align-bottom"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-subtle-info edit-list"
                        (click)="openEditCourseModal(data); updateCourse.show()"
                      >
                        <i class="ri-pencil-fill align-bottom"></i>
                      </button>
                    </div>
                  </td>

                  <div
                    bsModal
                    #removeCourseItemModal="bs-modal"
                    id="removeCourseItemModal"
                    class="modal fade zoomIn"
                    tabindex="-1"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            (click)="removeCourseItemModal.hide()"
                            id="close-removecoursemodal"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="mt-2 text-center">
                            <i class="ti ti-trash fs-1 text-danger"></i>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                              <h5>Are you sure?</h5>
                              <p class="text-muted mx-4 mb-0">
                                Are you sure you want to remove this course?
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex gap-2 justify-content-center mt-4 mb-2"
                          >
                            <button
                              type="button"
                              class="btn w-sm btn-light"
                              (click)="removeCourseItemModal.hide()"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn w-sm btn-danger"
                              id="remove-courseitem"
                              (click)="deleteCourse(data.id)"
                            >
                              Yes, Delete It!
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    bsModal
                    #updateCourse="bs-modal"
                    class="modal fade"
                    id="updateCourse"
                    tabindex="-1"
                    aria-labelledby="updateCourseLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border-0">
                        <div class="modal-header p-3 bg-success-subtle">
                          <h5 class="modal-title" id="updateCourseLabel">
                            Update Course Info
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            (click)="updateCourse.hide()"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="row col">
                            <div class="col">
                              <label for="category-select" class="form-label"
                                >Select Category</label
                              >
                              <select
                                id="category-select"
                                class="form-control"
                                [(ngModel)]="editCourseData.category_id"
                              >
                                <option
                                  *ngFor="let category of categories"
                                  [value]="category.id"
                                >
                                  {{ category.name || "No Category" }}
                                </option>
                              </select>
                            </div>
                            <div class="col">
                              <label for="instructor-select" class="form-label"
                                >Select Instructor</label
                              >
                              <select
                                id="instructor-select"
                                class="form-control"
                                [(ngModel)]="editCourseData.instructor_id"
                              >
                                <option
                                  *ngFor="let instructor of instructors"
                                  [value]="instructor.id"
                                >
                                  {{ instructor.name || "No Instructor" }}
                                </option>
                              </select>
                            </div>
                            <div class="col">
                              <label for="tag-select" class="form-label"
                                >Select Tag</label
                              >
                              <select
                                id="tag-select"
                                class="form-control"
                                [(ngModel)]="editCourseData.tag_id"
                              >
                                <option
                                  *ngFor="let tag of tags"
                                  [value]="tag.id"
                                >
                                  {{ tag.name || "No Tag" }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <label for="title-input" class="form-label"
                                >Title</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="title-input"
                                autocomplete="off"
                                placeholder="Enter Course title"
                                [(ngModel)]="editCourseData.title"
                              />
                            </div>
                            <div class="col">
                              <label for="price-input" class="form-label"
                                >Price</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="price-input"
                                autocomplete="off"
                                placeholder="Enter Course price"
                                [(ngModel)]="editCourseData.price"
                              />
                            </div>
                          </div>
                          <div class="col">
                            <label for="description-input" class="form-label"
                              >Description</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="description-input"
                              autocomplete="off"
                              placeholder="Enter Course description"
                              [(ngModel)]="editCourseData.description"
                            />
                          </div>
                          <div class="col">
                            <label for="video-url-input" class="form-label"
                              >Video URL</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="video-url-input"
                              autocomplete="off"
                              placeholder="Enter Course video URL"
                              [(ngModel)]="editCourseData.video_url"
                            />
                          </div>
                          <div class="col">
                            <label for="image-input" class="form-label"
                              >Image</label
                            >
                            <input
                              type="file"
                              class="form-control"
                              id="image-input"
                              accept="image/*"
                              (change)="onFileSelected($event)"
                            />
                          </div>
                          <div class="mt-4">
                            <label for="certifications-input" class="form-label"
                              >Certifications</label
                            >
                            <div
                              class="form-check form-switch custom-switch me-2"
                            >
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="certifications-input"
                                [(ngModel)]="editCourseData.certifications"
                              />
                            </div>
                          </div>
                          <div class="hstack gap-2 justify-content-end">
                            <button
                              type="button"
                              class="btn btn-ghost-success"
                              (click)="updateCourse.hide()"
                            >
                              <i class="ri-close-fill align-bottom"></i> Close
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              id="addNewCourse"
                              (click)="editCourse(data.id); updateCourse.hide()"
                            >
                              Update Course
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-controls d-flex justify-content-between mt-3">
            <button
              class="btn btn-primary"
              [disabled]="currentPage === 1"
              (click)="previousPage()"
            >
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              class="btn btn-primary"
              [disabled]="currentPage === totalPages"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    bsModal
    #createCourseModal="bs-modal"
    class="modal fade zoomIn"
    id="createCourseModal"
    tabindex="-1"
    aria-labelledby="createCourseModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-3 bg-success-subtle">
          <h5 class="modal-title" id="createCourseModalLabel">Create Course</h5>
          <button
            type="button"
            class="btn-close"
            (click)="createCourseModal.hide()"
            id="addCourseBtn-close"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row col">
              <div class="col">
                <label for="category-select" class="form-label"
                  >Select Category</label
                >
                <select
                  id="category-select"
                  class="form-control"
                  [(ngModel)]="addNewCourse.category_id"
                >
                  <option
                    *ngFor="let category of categories"
                    [value]="category.id"
                  >
                    {{ category.name || "No Category" }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="instructor-select" class="form-label"
                  >Select Instructor</label
                >
                <select
                  id="instructor-select"
                  class="form-control"
                  [(ngModel)]="addNewCourse.instructor_id"
                >
                  <option
                    *ngFor="let instructor of instructors"
                    [value]="instructor.id"
                  >
                    {{ instructor.name || "No Instructor" }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="tag-select" class="form-label">Select Tag</label>
                <select
                  id="tag-select"
                  class="form-control"
                  [(ngModel)]="addNewCourse.tag_id"
                >
                  <option *ngFor="let tag of tags" [value]="tag.id">
                    {{ tag.name || "No Tag" }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="title-input" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title-input"
                  autocomplete="off"
                  placeholder="Enter Course title"
                  [(ngModel)]="addNewCourse.title"
                />
              </div>
              <div class="col">
                <label for="price-input" class="form-label">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="price-input"
                  autocomplete="off"
                  placeholder="Enter Course price"
                  [(ngModel)]="addNewCourse.price"
                />
              </div>
            </div>
            <div class="col">
              <label for="description-input" class="form-label"
                >Description</label
              >
              <input
                type="text"
                class="form-control"
                id="description-input"
                autocomplete="off"
                placeholder="Enter Course description"
                [(ngModel)]="addNewCourse.description"
              />
            </div>
            <div class="col">
              <label for="video-url-input" class="form-label">Video URL</label>
              <input
                type="text"
                class="form-control"
                id="video-url-input"
                autocomplete="off"
                placeholder="Enter Course video URL"
                [(ngModel)]="addNewCourse.video_url"
              />
            </div>
            <div class="col">
              <label for="image-input" class="form-label">Image</label>
              <input
                type="file"
                class="form-control"
                id="image-input"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="mt-4">
              <label for="certifications-input" class="form-label"
                >Certifications</label
              >
              <div class="form-check form-switch custom-switch me-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="certifications-input"
                  [(ngModel)]="addNewCourse.certifications"
                />
              </div>
            </div>
            <div class="hstack gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-ghost-success"
                (click)="createCourseModal.hide()"
              >
                <i class="ri-close-line align-bottom"></i> Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addCourse(); createCourseModal.hide()"
              >
                Add Course
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
